


.song {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  margin: 150px auto;
  max-width: 600px;

}
  h1 {
    font-size: 50px;
  }
.song-title {
  -ms-flex: column;
      flex: column;
}
.song-title p {
    font-size: 30px;
    font-family: 'Charm', cursive;

  }
.song-text p {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
}
span {
  font-style: italic;
  font-weight: 400;
}
h2 {
  font-family: 'Charm', cursive;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
}
